* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    font-family: 'PT Sans', sans-serif;
    padding-top:80px;
}
.container{
    max-width: 1200px;
    margin:0 auto;
    padding:10px 20px;
}
.bkg-fuchsia{
    background-color: #9792e4;
}
.bkg-black{
    background-color: darkgrey;
}
h3{
    padding:40px 0;
    font-size: 30px;
}
p{
    padding:40px 0;
}
/* HEADER + NAVBAR */
header {
    background-color: #0084fd;
    color: white;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 2;
}
.navbar {
    padding:20px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
.navbar-actions ul{
    list-style-type: none;
    display: none;

}
.navbar-actions a{
    padding:0 5px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.column{
    flex-direction: column;
    padding: 20px 50px;
    
}
/* CARDS */

.card{
    background-color: #b5ddff;
    padding: 0px 40px;
    border-radius: 5%;
    margin-bottom:25px;
}
.fa-file-code:nth-child(2) , .title-card:nth-child(2) , .text-card:nth-child(3){
    text-align: center;
  }

.cardone{
    background-color: darkgray;
    border-radius: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;
}

.fa-file-code , .fa-compass-drafting , .fa-laptop-code , .fa-bullhorn{
    font-size: 55px;
    padding: 20px 0px;
}
.title-card{
    font-size: 23px;
    padding:15px 0px;
    color: rgb(13, 134, 255);
}
.text-card{
    font-size: 17px;
    padding: 15px 0px;
    margin-bottom: 15px;
    color: grey;
}
.button-card{
    height: 35px;
    padding: 5px 40px;
    margin: 15px 0px;
    border: 0;
    border-radius: 20px;
    color: white;
    background-color: #0084fd;
}
.img-card{
    text-align: center;
}
.img-card img{
    width: 100%;
}
.pic{
    padding:10px;
}
.pic img{
    width: 100%;
}
.cerchietto{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-bottom: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.testimonials{
    text-align: center;
    background-color: dimgray;
}
.img-cardone{
    width: 20%;
    height: 20%;
    max-width: 40%;
  
}
.strategic{
    color: white;
}
/* MediaQuery */
@media screen and (min-width:768px){
    .container{
        max-width: 700px;
    }
    .column{
        flex-wrap: wrap;
        flex-basis: calc( 100% / 3*2);
    }

}
@media screen and (min-width:993px){
    .container{
        max-width: 900px;
    }
    .fa-bars:before{
        display: none;
    }
    .navbar-actions{
        padding-bottom: 10px;
    }
    .navbar-actions ul{
        display: flex;
        align-items: center;
    }
}


.applicazioni .prova{
    min-height: 400px;
    margin-bottom: 2rem ;
}