* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    font-family: 'PT Sans', sans-serif;
    padding-top:80px;
}
.container{
    max-width: 1200px;
    margin:0 auto;
    padding:10px 20px;
}
.bkg-fuchsia{
    background-color: blueviolet;
}
/* HEADER + NAVBAR */
header {
    background-color: rgb(43, 151, 253);
    color: white;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 2;
}
.navbar {
    padding:20px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
.navbar-actions ul{
    list-style-type: none;
    display: none;

}
.navbar-actions a{
    padding:0 5px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.column{
    flex-direction: column;
    padding: 20px 50px;
    
}
/* CARDS */

.card{
    text-align: center;
    background-color: blue;
    padding: 0px 40px;
    border-radius: 5%;
    margin-bottom:25px;
}
.card:first-child{
    text-align: start;
    padding: 0px 40px;
    border-radius: 5%;
    border: 2px black dashed;
    
}
.cardone{
    background-color: darkgray;
    border-radius: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;
}

.fa-file-code{
    font-size: 55px;
    padding: 20px 0px;
}
.title-card{
    font-size: 23px;
    padding:15px 0px;
    color: rgb(13, 134, 255);
}
.text-card{
    font-size: 17px;
    padding: 15px 0px;
    margin-bottom: 15px;
    color: grey;
}
.button-card{
    height: 35px;
    padding: 5px 40px;
    margin: 15px 0px;
    border-radius: 20px;
    color: white;
    background-color: darkblue;
}
.img-card{
    text-align: center;
    display: block;
}
.cerchietto{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-bottom: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.testimonials{
    text-align: center;
    background-color: dimgray;
}
.img-cardone{
    width: 20%;
    height: 20%;
    max-width: 40%;
  
}
/* MediaQuery */
@media screen and (min-width:768px){
    .container{
        max-width: 769px;
    }
    .column{
        width: calc( 100% / 3*2);
    }

}
@media screen and (min-width:993px){
    .fa-bars:before{
        display: none;
    }
    .navbar-actions{
        padding-bottom: 10px;
    }
    .navbar-actions ul{
        display: flex;
        align-items: center;
    }
}